* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #33d1c3;
    transform: translateX(-50%);
}
/* start navbar */
.navbar {
    background-color: #19283f;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item .active,
.navbar .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #33d1c3;
}

.navbar .search {
    border-left: 1px solid #33d1c3;
}

.navbar .search i {
    color: #33d1c3;
}

.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: #33d1c3;
}
/* end navbar */

/* start landing */
.landing {
    background-color: #19283f;
    height: calc(100vh - 72px);
}
/* end landing */

/* start services */

.services .serv .icons .num,
.services .serv .icons .pencil {
    left: 50%;
    transform: translateX(-50%);
}

.services .serv .icons {
    height: 250px;
}

.services .serv .icons .num {
    color: #eff7fa;
    font-size: 12rem;
}

.services .serv .icons .pencil {
    color: #33d1c3;
}

.services .serv h4 {
    color: #ffc400;
}
/* end services */

/* start portfolio */
.portfolio {
    background-color: #eff7fa;
}

.portfolio ul li {
    padding: 0.5rem 1rem;
}

.portfolio ul li:not(.active):hover a{
    color: #ff3150;
}

.portfolio ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.portfolio .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.portfolio .box::before {
    content: attr(data-box);
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: rgb(51 209 195 / 50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(calc(-100% - 5px));
    transition: 0.5s;
}

.portfolio .box:hover:before {
    transform: translateX(0);
}
/* end portfolio */

/* start about */
.about .desc {
    max-width: 500px;
}
/* end about */

/* start team */
.team {
    background-color: #eff7fa;
}
/* end team */

